<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging-Application</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container mt-4">
        <form action="/user/Eprofile" method="post" enctype="multipart/form-data">
            <% if (locals.msg) { %>
                <div class="alert alert-success" role="alert">
                    <%= msg%>
                  </div>
            <% } %>
            <div class="mb-3 mt-3">
                <label for="profileImage" class="form-label">profileImage:</label>
                <input type="file" class="form-control" id="profileImage" name="profileImage" aria-describedby="profileImage">
            </div>
            <div class="mb-3">
                <label for="fullName" class="form-label">Full Name :</label>
                <input type="text" class="form-control" id="fullName" name="fullName" aria-describedby="fullName">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <%- include('./partials/script') %>
</body>
</html>